.mainpage-cover-image
{
    background-image: url("../res/images/CoverImage.jpeg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    width: 100%;
}